<div class="container-fluid">
  <div class="top-page">
    <div class="about">
      <h1 class="title offset-4">DORIBA</h1>
      <h3 class="row offset-1 mt-4">飲みもので、より楽しいおうち時間を</h3>
      <p class="text-center row mt-3" style="line-height:2rem;">DORIBA(ドリバ)は、お酒のレビュー投稿サイトです。 </br>
      家で過ごす時間を、いつもよりちょっと楽しく、充実したものにしてくれる美味しいお酒。</br>
      忙しい毎日の中で、ほっと一息つける時間、明日への活力になる楽しい時間を、</br>
      美味しいお酒と共にお過ごしください。
      </p>
    </div>
  </div>

 <div class="row offset-4 mt-5">
    <h4>DORIBAでできること</h4>
  </div>

  <div class-"row">
    <div class="row">
      <div class="col-4 mt-5">
        <h5 class="text-center">お酒のレビュー投稿</h5>
        <img class="d-block mx-auto" src="/assets/top1.jpg", width="250" height="150">
        <p class="text-center mt-3">おすすめのお酒のレビューを投稿出来ます。</br>
        他のユーザーからコメントがもらえるかも!?</p>
      </div>

      <div class="col-4 mt-5">
        <h5 class="text-center">気になった人をフォロー</h5>
        <img class="d-block mx-auto" src="/assets/top2.jpg", width="250" height="150">
        <p class="text-center mt-3">気になった人はフォローすることが出来ます。</br>
        同じお酒が好きな人と仲良くなれるかも
        </p>
      </div>

      <div class="col-4 mt-5">
        <h5 class="text-center">新たなお酒との出会い</h5>
        <img class="d-block mx-auto" src="/assets/top3.jpg", width="250" height="150">
        <p class="text-center mt-3">趣味が合う人が普段飲んでいるお酒を知ることで、
        新たなお酒と出会うことが出来ます。
        </p>
      </div>
    </div>
  </div>
</div>
</div>