<div class="container">
  <div class="row offset-5">
    <h1>DORIBA</h1>
  </div>

  <div class="row offset-3 text-center mt-4">
    <h3>飲みもので、より楽しいおうち時間を</h3>
  </div>

  <div class="row offset- mt-3">
    <div class="col-11 text-center">
      <p style="line-height:2rem">DORIBA(ドリバ)は、お酒のレビュー投稿サイトです。 </br>
      家で過ごす時間を、いつもよりちょっと楽しく、充実したものにしてくれる美味しいお酒。</br>
      忙しい毎日の中で、ほっと一息つける時間、明日への活力になる楽しい時間を、</br>
      美味しいお酒と共にお過ごしください。
      </p>
    </div>

  </div>

</div>