/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
 }

body {
  //body全体の表示領域を確保
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  background: #F8F8FF;
}

ul {
 list-style: none;
}

a:link, a:visited, a:hover, a:active {
 color: black;
 text-decoration: none;
}

main {
 flex: 1;
}

header {
   background: #E8EAF6;
   height: 50px;
   text-align: right;
   margin-bottom: 30px;
}

 footer {
   background: #E8EAF6;
   height: 50px;
   text-align: right;
   margin-top: 30px;
 }

 .logo {
  font-size: 30px;
}

.notice {
  background-color: #afeeee;
}
.alert {
  color: white;
  background-color: red;
}

.error {
 color: white;
 background-color: red;
}

#menu {
 position: absolute;
 top: 0;
 //ナビメニューを隠した状態にする
 right: -40%;
 width: 40%;
 background: #ffffff;
 transition: .8s;
}

#menu a {
 display: block;
 color: #000000;
 margin: 0 15px;
 padding: 10px;
 //#transition: .5s;
}

#menu li a:hover {
 color: #ffffff;
 background: #cd5c5c;
 //border-bottom: none;
}

//アイコンの位置、幅の指定
#menu-icon {
 display: block;
 position: absolute;
 top: 20px;
 right: 30px;
 width: 30px;
 height: 22px;
 //cursor: pointer;
 //transition: 1s;
}

//線の色、幅の指定
.hm-line {
 display: block;
 position: absolute;
 right: 0;
 width: 30px;
 height: 3px;
 background-color: #858F8C;
 //transition: 1s;
 //border-radius: 4px;
}

//線の位置をそれぞれ指定
#line1 {
 top: 0;
}

#line2 {
 top: 10px;
}

#line3 {
 bottom: 0px;
}