<div class="container-fluid">
  <div class="row">
    <h4 class="title text-left mt-3 col">DORIBA</h4>
    <img class="mt-3" src="<%= asset_path 'stop.png'%>", width="40" height="40">
    <p class="mt-3 mr-4">お酒は20歳になってから</p>
  </div>
</div>