<%#メニュー%>
<nav id="menu">
  <ul>
    <li><a href="#">BEER</a></li>
    <li><a href="#">ウイスキー</a></li>
    <li><a href="#">WINE</a></li>
    <li><a href="#">SAKE</a></li>
    <li><a href="#">LIQURE</a></li>
  </ul>
</nav>

<%#ハンバーガーメニューのアイコン部%>
<div id="menu-icon">
  <span class="hm-line" id="line-1"></span>
  <span class="hm-line" id="line2"></span>
  <span class="hm-line" id="line3"></span>
</div>

