<%#メニュー表示内容%>
<nav id="menu">
  <ul>
    <li><a href="/genres?id=1">BEER</a></li>
    <li><a href="/genres?id=2">WHISKY/WHISKEY</a></li>
    <li><a href="/genres?id=3">WINE</a></li>
    <li><a href="/genres?id=4">SAKE</a></li>
    <li><a href="/genres?id=5">LIQURE</a></li>
  </ul>
</nav>

<%#ハンバーガーボタン%>
<div id="hamburger">
  <span class="line" id="line1"></span>
  <span class="line" id="line2"></span>
  <span class="line" id="line3"></span>
</div>


<script>
/*htmlからIDを取得し、CSSで指定したクラス名を与える*/
/*クリックした際、その関数を呼び出す*/
function hamburger() {
  document.getElementById('line1').classList.toggle('line_1');
  document.getElementById('line2').classList.toggle('line_2');
  document.getElementById('line3').classList.toggle('line_3');
  document.getElementById('menu').classList.toggle('in');
}
document.getElementById('hamburger').addEventListener('click' , function () {
  hamburger();
} );
</script>