<div class="tags  mt-5">
  <i class="fas fa-tags"></i>
  <% if review.tags.present? %>
    <% review.tags.each do |tag| %>
      #<%= tag %>
    <% end %>
  <% else %>
    <p>タグが登録されていません</p>
  <% end %>
</div>